.block h1 {
  margin-bottom: 55px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: #172853;
}

.categoryItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
}
