.textInput {
   display: block;
   width: 100%;
   padding: 24px 5px 22px;
   border-bottom: 2px solid #EDF2FF;
   font-size: 16px;
   font-weight: 300;
   line-height: 1;

   &::placeholder {
      color: #B0B3BC;
   }
}
.textInput.hasError {
   border-bottom: 2px solid #FF5050;
   &::placeholder {
      color: #FF5050;
   }
}


.toggleButton {
   position: relative;
   display: inline-block;
   width: 51px;
   height: 31px;
   margin: 0;
   border-radius: 18px;
   vertical-align: top;
   background: #ccc;
   outline: none;
   cursor: pointer;
   appearance: none;
   transition: 0.4s;
}

.toggleButton::after {
   content: "";
   position: absolute;
   left: 1.5px;
   top: 1.5px;
   display: inline-block;
   width: 28px;
   height: 28px;
   border-radius: 100%;
   background-color: #fff;
   transform: translateX(0);
   transition: 0.4s;
}
.toggleButton:checked::after {
   transform: translateX(20px);
   background-color: #fff;  
}
 .toggleButton:checked {
   background-color: #4376FB;
}