@import url('./fonts/font.css');

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}
body {
	font-family: 'MuseoSansCyrl';
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	background: #f8f8fa;
	color: #172853;
  	user-select: none;
}
a { text-decoration: none; }
li { list-style: none; }
button { font-family: 'MuseoSansCyrl'; }
input, textarea { 
	font-family: 'MuseoSansCyrl';
	outline:none; 
}
input:active, 
textarea:active { outline:none; }
:focus { outline:none; }

a:active, 
a:focus { outline: none; }

textarea { resize:none; }